.Comment_body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 50rem;
  height: auto;
  background-color: var(--gray-dark);
  font-size: 14px;
  font-family: var(--paragraph-font);
  padding: 1.2rem;
}

.Comment_h4 {
  margin: 0;
}

.Comment_section {
  margin: 0.7rem;
  height: 90%;
  margin-bottom: 0;
}

.Comment_section_1 {
  text-align: center;
}

.Comment_section_2 {
  display: flex;
  flex-direction: column;
}

.Comment_section_2_p {
  margin: 0;
}

.Comment_section_3 {
  white-space: nowrap;
  text-align: right;
}

.Comment_section_3_p {
  margin: 0;
}

.Comment_div {
  display: flex;
}

.Comment_article {
  text-align: left;
  margin-right: 0.8rem;
  margin-top: 0.5rem;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .CommentBody {
    width: 30rem;
  }
}
@media only screen and (max-width: 320px) {
  .CommentBody {
    width: 10rem;
    flex-direction: column;
  }
}
