.welcome-header {
  width: 100vw;
  height: 420px;
  background-image: url("../../../../assets/images/home_banner.png");
  -webkit-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.4);
}
