.TripCard-Users {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.TripCard-Users__date,
.TripCard-Users__location {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.TripCard-Users__date {
  color: white;
  text-shadow: 2px 2px var(--purple);
  font-size: 1.2rem;
  margin: 6vh 0 0 0;
}

.TripCard-Users__location {
  color: white;
  text-shadow: 2px 2px var(--purple);
  font-size: 1.4rem;
  margin: 0 0;
  padding-top: 1vh;
}
