.ForumPost {
  display: flex;
  flex-direction: column;
}
.ForumPost__top {
  display: flex;
  padding: 0.75em;
  background-color: var(--white);
}
.ForumPost__top-middle,
.ForumPost .Button {
  border: 1px solid var(--black-lite);
  border-radius: 3px;
}
.ForumPost__top-middle {
  padding-bottom: 0.5em;
}
.ForumPost .Button {
  font-size: 1em;
}
.ForumPost .Button img {
  height: 1em;
  padding: 0;
}
.ForumPost__face-card {
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
  align-items: center;
}
.ForumPost__name {
  font-family: var(--default-font);
  font-size: 1.25rem;
  margin: 0;
}
.ForumPost .Pill {
  margin-left: 0.5em;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
}
.ForumPost__middle {
  display: flex;
  justify-content: space-between;
  height: 2em;
  font-family: var(--paragraph-font);
  font-weight: bold;
  background-color: var(--white);
}
.ForumPost__bottom {
  height: 2em;
  background-color: var(--gray-lite);
}
.ForumPost__topic-pills,
.ForumPost__likes-comments {
  display: flex;
  justify-content: space-evenly;
}

.ForumPost__likes-comments p {
  margin-right: 0.5em;
}

@media only screen and (max-width: 768px) {
  .ForumPost__top,
  .ForumPost__middle,
  .ForumPost__bottom {
    flex-direction: column;
    align-items: center;
  }
  .ForumPost__topic-pills {
    display: none;
  }
  .Button{
    width: 25em;
  }
}
