.HomePage__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.HomePage__content {
  flex: 1;
}

.HomePage__footer-wrapper {
  margin-top: auto;
}

.placeholder-welcome {
  text-align: center;
  width: 100vw;
  height: 23rem;
  border: 2px solid black;
}
