.HomePage__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.HomePage__content {
  flex: 1;
}

.HomePage__footer-wrapper {
  margin-top: auto;
}

.placeholder-welcome {
  text-align: center;
  width: 100vw;
  height: 23rem;
  border: 2px solid black;
}

.HomePage__suggestions-container {
  height: 48rem;
  width: 60rem;
  border: 5px solid blue;
  margin-left: 3rem;
}
.HomePage__top-cards-container {
  height: 48rem;
  width: 40rem;
  border: 5px solid blue;
  margin-right: 3rem;
}
