.HomePage__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.HomePage__content {
  flex: 1;
}

.HomePage__footer-wrapper {
  margin-top: auto;
}

.placeholder-welcome {
  text-align: center;
  width: 100vw;
  height: 23rem;
  border: 2px solid black;
  margin-bottom: 3rem;
  -webkit-box-shadow: 0px 9px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 9px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 9px 5px 0px rgba(0, 0, 0, 0.45);
}

/**
|--------------------------------------------------
| These contents are the top items on the page:
| Suggested groups/people, book a trip and trending hashtags
|--------------------------------------------------
*/

/**
|--------------------------------------------------
| Contents on left side top of page. Suggested groups
| and suggested people
|--------------------------------------------------
*/
.HomePage_top-items-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HomePage__suggestions-container {
  height: 60rem;
  width: 60rem;
  border: 5px solid blue;
  margin-left: 4rem;
}
.HomePage__suggested-header {
  font-family: var(--default-font);
  color: var(--purple);
  margin-left: 2rem;
}
.HomePage__group-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10rem;
  width: 50rem;
  padding: 0rem 0rem 1rem 0rem;
  margin: 1rem;
  border: 5px solid red;
}

.HomePage__people-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30rem;
  width: 50rem;
  padding: 0rem 0rem 1rem 0rem;
  margin: 1rem;
  border: 5px solid red;
}

.HomePage__arrow {
  background-color: var(--yellow-dark);
  margin-top: 3rem;
  width: 50px;
  height: 50px;
  clip-path: polygon(0 0, 80% 50%, 0 100%, 0 80%, 45% 50%, 0 20%);
  -webkit-box-shadow: 6px 7px 5px -2px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 6px 7px 5px -2px rgba(0, 0, 0, 0.64);
  box-shadow: 6px 7px 5px -2px rgba(0, 0, 0, 0.64);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.HomePage__arrow:hover {
  transform: scale(1.1);
  background-color: var(--yellow);
}
.placeholder-person-card {
  width: 220px;
  height: 300px;
  border: 3px solid gray;
  box-shadow: 0px 7px 5px -2px rgba(0, 0, 0, 0.64);
}
/**
|--------------------------------------------------
| Contents on left side top of page. Suggested groups
| and suggested people
|--------------------------------------------------
*/

/**
|--------------------------------------------------
| Contents on right side top of page. Book a trip and
| trending hashtags.
|--------------------------------------------------
*/
.HomePage__top-cards-container {
  height: 60rem;
  width: 50rem;
  border: 5px solid green;
  margin-right: 4rem;
}
/**
|--------------------------------------------------
| Contents on right side top of page. Book a trip and
| trending hashtags.
|--------------------------------------------------
*/

/**
|--------------------------------------------------
| These contents are the top items on the page:
| Suggested groups/people, book a trip and trending hashtags
|--------------------------------------------------
*/
