.TripCard {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
}

.TripCard__date,
.TripCard__location {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: normal;
  text-align: center;
  /* border: 2px solid black; */
}

.TripCard__date {
  color: var(--gray-lite);
  font-size: 1rem;
  margin: 6vh 0 0 0;
}

.TripCard__location {
  color: var(--white);
  font-size: 1.4rem;
  margin: 0 0;
  padding-top: 1vh;
}
