.TripCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* border: 2px solid black; */
}

.TripCard__date,
.TripCard__location {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: normal;
  text-align: center;
  /* border: 2px solid black; */
}

.TripCard__date {
  color: var(--gray-lite);
  font-size: 1vw;

  padding: 5vh 0 0 0;
}

.TripCard__location {
  color: var(--white);
  font-size: 1.4vw;

  margin: 0 0;
}
