:root {
    /* These are all the defaults for CoTripper. Below is an example of usage:
        background-color: var(--yellow);
    */

    /* Default color palette variables */
    --yellow: #FFCB06;
    --pink: #FB8370;
    --red: #D1495B;
    --purple: #6A4C93;
    --black: #252525;
    --white: #FAFAFA;
    /* Default font */
    --default-font: 'Reem Kufi', sans-serif;
    /* Images */
    --comment-black: url("../../assets/images/comment_black.png");
    --edit-button: url("../../assets/images/edit_button.png");
    --global-nav-dm: url("../../assets/images/global-nav_dm_icon.png");
    --global-nav-logo: url("../../assets/images/global-nav_logo_icon.png");
    --global-nav-search: url("../../assets/images/global-nav_search_icon.png");
    --heart-pink: url("../../assets/images/heart_pink.png");
    --heart-white: url("../../assets/images/heart_white.png");
    --heart-black: url("../../assets/images/heart_black.png");
    --home-banner: url("../../assets/images/home_banner.png");
    --profile-banner: url("../../assets/images/profile_banner.png");
    --community-banner: url("../../assets/images/community_banner.png");
    --login-logo: url("../../assets/images/login_logo.png");
    --nav-arrow-purple: url("../../assets/images/nav_arrow_purple.png");
    --nav-arrow-yellow: url("../../assets/images/nav_arrow_yellow.png");
    --social-facebook: url("../../assets/images/social_facebook.png");
    --social-instagram: url("../../assets/images/social_instagram.png");
    --social-pinterest: url("../../assets/images/social_pinterest.png");
    --splash-background: url("../../assets/images/splash_background.png");
    --text-box-search: url("../../assets/images/text_box_search.png");
    /* Font Weights */
    --paragraph-weight: 400;
    --banner-weight: 700;
    --title-weight: 500;
}   

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
