.NavLinkDropdownMenu {
  box-shadow: 0 4px 10px -5px var(--gray);
  margin: 0;
  padding: 12px 0;
  list-style: none;
}
.NavLinkDropdownMenu a {
  text-decoration: none;
}
.NavLinkDropdownMenu li {
  font-size: 24px;
  padding: 15px 24px;
  color: var(--purple);
  font-family: var(--default-font);
}
.NavLinkDropdownMenu li:hover {
  background-color: lightgray;
}