.Bio {
  max-width: 40rem;
  font-family: var(--default-font);
  max-width: 100%;
}

.Bio .icons__div {
  max-width: 14rem;
  display: flex;
  justify-content: space-between;
  color: var(--purple);
}

.Bio .icons__div-edit {
  flex-flow: column nowrap;
}

.Bio .icons__div div,
.icons__div-edit__media-entry-container {
  margin-top: 1rem;
}

.Bio .icons__div div,
.Bio .icons__div-edit div {
  color: var(--purple);
}

.Bio .Bio__subheader,
.Bio__interests {
  color: var(--purple);
  font-size: 1.4rem;
}

.Bio .Bio__paragraph {
  font-family: var(--paragraph-font);
}

.Bio .Bio__span {
  margin-right: 3%;
}

.Bio .Bio__header {
  display: flex;
  justify-content: space-between;
  color: var(--purple);
}

.Bio .hashtag__container {
  display: flex;
  font-style: italic;
  font-family: var(--paragraph-font);
  max-width: 100%;
  flex-wrap: wrap;
}

.change__password__title {
  color: #6a4c93;
}
