.TripDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: var(--default-font);
  width: 100%;
  margin: 0 auto;
}
.TripDetails__carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
}
.TripDetails__image {
  width: 20rem;
  height: 15rem;
}
.TripDetails__right {
  display: flex;
  flex-direction: column;
  width: 19rem;
  margin: auto;
}
.TripDetails__section-container {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.TripDetails__title {
  color: var(--purple);
  font-size: 2.25rem;
  margin: 0;
}
.TripDetails__text {
  font-size: 1.125rem;
  margin: 0;
}
