
.Connections__heading {
  font-size: 2rem;
  font-family: var(--default-font);
  color: var(--purple)
}

.Connections--first-name {
  font-size: 2rem;
  font-family: var(--default-font);
}

.Connections__list {
  display: flex;
}