.Connections__heading {
  font-size: 1rem;
  font-family: var(--default-font);
  color: var(--purple);
}

.Connections__list {
  display: flex;
  width: 100%;
}

.Connections__link {
  font-size: 1rem;
  font-family: var(--default-font);
  font-weight: normal;
  color: blue;
}

.Connections__person {
  margin: 0 1rem 0 0;
}

.Connections__horizontal {
  flex-wrap: nowrap;
}

.Connections__person__div {
  height: 148px;
  width: 148px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.Connections--name {
  font-size: 1rem;
  font-family: var(--default-font);
  text-align: center;
  margin-top: -2px;
  margin-bottom: 6px;
}

@media only screen and (max-width: 576px) {
  .Connections__list {
    width: 80vw;
  }
}

@media only screen and (max-width: 1000px) {
  .Connections__heading {
    text-align: center;
  }

  .Connections__list {
    justify-content: center;
  }
}
