.OnboardingPage {
  font-family: var(--default-font);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 72.4%, rgba(255, 255, 255, 0.75) 100%),
    #ffcb08;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.OnboardingPage__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.OnboardingPage .Logo {
  width: 100%;
  height: 16.5rem;
  background-size: contain;
}
.OnboardingPage__carousel-dots-container {
  margin: 0 auto;
}
.OnboardingPage__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.OnboardingPage__header {
  margin: 0;
}
.OnboardingPage__container {
  margin: 1rem 0;
}
.OnboardingPage__button-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.OnboardingPage .InputTextField__container--default {
  height: 1rem;
  width: 22.5rem;
}
.OnboardingPage .Button {
  width: 11.4rem;
}
@media all and (max-width: 320px) {
  .OnboardingPage__container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
  }
  .OnboardingPage .InputTextField__container--default {
    min-width: 11.5rem;
    max-width: 11.5rem;
    height: 0.5rem;
    font-size: 1rem;
    padding: 0.7rem 1.4rem;
  }
  .OnboardingPage__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}