.OnboardingPage {
  font-family: var(--default-font);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 72.4%, rgba(255, 255, 255, 0.75) 100%),
    #ffcb08;
  min-height: 100vh;
  width: 100vw;
  display: flex;
}
.OnboardingPage__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.OnboardingPage__inner-wrapper {
  display: flex;
  flex-direction: column;
}

.OnboardingPage__form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.OnboardingPage__logo {
  display: flex;
  justify-content: center;
}
.OnboardingPage__skip-link {
  display: flex;
  justify-content: center;
}
.OnboardingPage__carousel-dots-container {
  margin: 1em auto;
}
.OnboardingPage__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.OnboardingPage__header {
  margin: 0;
}
.OnboardingPage__container {
  margin: 1rem 0;
}
.OnboardingPage__button-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.OnboardingPage .Button {
  width: 11.4rem;
}
.OnboardingPage__text {
  text-align: center;
  padding: 0 10px;
}
.OnboardingPage__spacer {
  height: 1rem;
}
.OnboardingPage a {
  color: var(--black);
}

.OnboardingPage__Autocomplete {
  /* margin: 0 auto; */
  width: 100%;
  /* border: 1px solid red; */
  padding-left: 25%;
  padding-right: 25%;
 

}

.OnboardingPage__Autocomplete > * {
  /* width: 100%; */
  /* max-width: 30vw; */
  color: var(--black);
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 3px;
  /* padding: 1vh 10vw 1vh 1vw; */
  /* margin: 0 0 2vh 0; */
  width: 100%;
  max-width: 30vw;

  margin-top: 0.2em;

  /* margin: 0 auto; */
  /* margin-right: auto; */
  /* margin-left:calc(50%+4em); */
  /* margin-left: 4.6em; */
  

  /*FIX THIS SHIT THIS ENTIRE PAGE IS OFF CENTER, TEMP FIX*/
}
.MuiFilledInput-root {
  background: white !important;
}

@media all and (max-width: 320px) {
  .OnboardingPage__container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
  }

  .OnboardingPage__form {
    justify-content: center;
  }
}
