.OnboardingPage {
  font-family: var(--default-font);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 72.4%, rgba(255, 255, 255, 0.75) 100%),
    #ffcb08;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.OnboardingPage__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.OnboardingPage__inner-wrapper {
  display: flex;
  flex-direction: column;
}

.OnboardingPage__form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.OnboardingPage__logo {
  display: flex;
  justify-content: center;
}
.OnboardingPage__skip-link {
  display: flex;
  justify-content: center;
}
.OnboardingPage__carousel-dots-container {
  margin: 1em auto;
}
.OnboardingPage__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.OnboardingPage__header {
  margin: 0;
}
.OnboardingPage__container {
  margin: 1rem 0;
}
.OnboardingPage__button-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.OnboardingPage .Button {
  width: 11.4rem;
}
.OnboardingPage__text {
  text-align: center;
}
.OnboardingPage__spacer {
  height: 1rem;
}
.OnboardingPage a {
  color: var(--black);
}
@media all and (max-width: 320px) {
  .OnboardingPage__container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
  }

  .OnboardingPage__form {
    justify-content: center;
  }
}
