.ForumComment {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-dark);
    border: 1px solid rgba(37, 37, 37, 0.5);
    box-sizing: border-box;
    border-radius: 3px;
}

.ForumComment__Name {
    font-family: var(--default-font);
    font-size: 1.2rem;
    margin: 0;
}

.ForumComment__Comment {
    font-family: var( --paragraph-font);
    color: var(--black);
    margin-left: 1em;
}

.ForumComment__Img {
    width: 6.5em;
    display: flex;
    height: 6.5em;
    flex-direction: column;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: .5em;
}

.ForumComment__Likes {
    font-family: var( --paragraph-font);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    margin-left: -5rem;
}

.ForumComment__Replies {
    font-family: var( --paragraph-font);
    display: flex;
    margin-left: 4rem;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
}

.ForumComment__Date {
    font-family: var( --paragraph-font);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: -15.5rem;
}


