.ForumComment {
    display: flex;
    background: var(--gray-dark);
    font-family: var(--paragraph-font);
    flex-direction: column;
    border: 1px solid rgba(37, 37, 37, 0.5);
}

.ForumComment__name {
    font-family: var(--default-font);
    font-size: 1.2rem;

}

.ForumComment__body {
    display: flex;

    font-size: .95rem;

    font-family: var(--paragraph-font);
}

.ForumComment__image {
    display: flex;
}

.ForumComment__date {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    align-items: baseline;
  }


.ForumComment__likes-replies {
    white-space: nowrap;
}
