.NavlinkCondensed {
  background-color: var(--white);
  box-shadow: 0 4px 10px -5px var(--gray);
  color: var(--purple);
  font-family: var(--default-font);
  padding: 10px 0;
}

.NavlinkCondensed h2 {
    font-size: 36px;
    padding: 5px 20px;
    line-height: 50px;
    margin: 0 auto;
}

.NavlinkCondensed a {
    text-decoration: none;
    color: var(--black);
}

.NavlinkCondensed h2:hover {
    background-color: var(--gray-lite);
}

/* Touch screen devices */
@media (hover: none) and (pointer: coarse) {
}
/* Extra Large devices */
@media only screen and (max-width: 1200px) {
}
/* Large devices */
@media only screen and (max-width: 992px) {
}
/* Medium devices */
@media only screen and (max-width: 768px) {
}
/* Small large devices */
@media only screen and (max-width: 576px) {
    .NavlinkCondensed h2 {
        font-size: 24px;
    }
}
