.ForumPage {
  overflow: hidden;
}

.ForumPage__banner {
  width: 100vw;
  height: 231px;
  background-color: var(--pink);
}

.ForumPage__header {
  font-family: var(--default-font);
  font-size: 36px;
  color: var(--purple);
  padding: 20px 50px 0px 0px;
  margin: 0 auto;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 20px;
}

.ForumPage__button-container {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.Pill {
  margin: 10px 50px 30px 0px;
}

.forum-page-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
  padding-top: 50px;
}

.forum-page-pill-container {
  display: flex;
  flex-direction: row;
  width: 95vw;
  flex-wrap: wrap;
}

.forum-page-hollow-pill-container {
  display: flex;
  flex-direction: row;
  width: 95vw;
  flex-wrap: wrap;
}

.secondNav {
  display: flex;
  width: 100vw;
  justify-content: center;
}

@media only screen and (max-width: 320px) {
  .ForumPage__header {
    text-align: center;
    font-size: 36px;
  }

  .ForumPage {
    width: 100vw;
  }
}
