.ForumPage {
  overflow: hidden;
}

.ForumPage__banner {
  width: 100vw;
  height: 231px;
  background-color: var(--pink);
  margin-bottom: -20px;
}

.ForumPage__header {
  font-family: var(--default-font);
  font-size: 36px;
  color: var(--purple);
  padding: 20px 50px 0px 0px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
}

.ForumPost__likes-comments {
  margin-top: 20px;
  position: absolute;
  left: 50vw;
}

.ForumPage__button-container {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.Pill {
  margin: 10px 50px 30px 0px;
}

.forum-page-hollow-pill-container {
  display: flex;
  width: 95vw;
  flex-wrap: wrap;
}

.forum-page-pill-container {
  display: flex;
  width: 95vw;
  flex-wrap: wrap;
}

.forum-page-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
  padding-top: 50px;
}

.secondNav {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.hashtag__body {
  display: flex;
  flex-flow: row;
}

.hashtag__bodyRight {
  display: flex;
  flex-direction: column;
  height: 750px;
  flex-wrap: wrap;
  width: 20vw;
}

.hashtag__bodyLeft {
  margin: 0px;
  width: 78vw;
  margin: -50px -100px;
}

.hashtag_medieContainer {
  margin-top: 70px;
  margin-left: -100px;
  margin-right: 120px;
}

.ForumPost__top-middle {
  margin-bottom: 20px;
  padding-bottom: 30px;
  background-color: #fafafa;
}

.ForumPost__bottom {
  margin-top: -20px;
}

.hashtag_mediaCard {
  margin-bottom: 15px;
  margin-right: 10px;
}

.hashtag_media {
  margin-top: -20px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 30px;
}

.hashtag__body_topic {
  display: flex;
  flex-flow: row;
}

.hashtag__bodyRight_topic {
  display: flex;
  flex-direction: row;
  height: 750px;
  flex-wrap: wrap;
  width: 30vw;
}

.hashtag__bodyLeft_topic {
  margin: 0px;
  width: 70vw;
  margin: -50px -100px;
}

.hashtag__title_topic {
  margin-top: 180px;
  margin-bottom: 40px;
  height: 20px;
}

.hashtag_medieContainer_topic {
  margin-top: 0px;
  margin-left: -65px;
  margin-right: 100px;
}

.hashtag_mediaCard_topic {
  margin-bottom: 15px;
}

.hashtag_media_topic {
  margin-top: 250px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.hashtag__members_section {
  margin-top: 0px;
  margin-bottom: 20px;
  height: 20px;
}

.hashtag__members_topic {
  display: flex;
  flex-direction: row;
  width: 600px;
  flex-wrap: nowrap;
}

.hashtag__bodyLeft {
  margin-bottom: 50px;
}

.Connections__link {
  font-size: 1rem;
  font-family: var(--default-font);
  font-weight: normal;
  margin-left: -60px;
}

.Footer {
  margin-top: 120px;
  padding-top: 0px;
}

.Connections__heading {
  display: none;
}

.hashtag__members_description_p {
  font-family: Reem Kufi;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.InputTextField__container--search {
  margin-top: -10px;
}

.Modal__container {
  margin-top: 15px;
}

.Banner_topic {
  line-height: 0px;
  margin-bottom: -16px;
}

@media only screen and (max-width: 320px) {
  .ForumPage__header {
    text-align: center;
    font-size: 36px;
  }

  .ForumPage {
    width: 100vw;
  }
}
