.OnboardingOne {
  font-family: var(--default-font);
}
.OnboardingOne__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.OnboardingOne__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.OnboardingOne__header {
  margin: 0;
}
.OnboardingOne__container {
  margin: 1rem 0;
}
.OnboardingOne__button-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.OnboardingOne .InputTextField__container--default {
  height: 1rem;
  width: 22.5rem;
}

.OnboardingOne .Button {
  width: 11.4rem;
}

@media all and (max-width: 320px) {
  .OnboardingOne__container {
    width: 0.5rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
  .OnboardingOne .InputTextField__container--default {
    min-width: 11.5rem;
    max-width: 11.5rem;
    font-size: 1rem;
    width: 0.5rem;
    padding: 0.7rem 1.4rem;
  }
  .OnboardingOne__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
