* {
  border: 1px solid red;
}
.backgroundImage {
  position: relative;
  height: 100%;
  width: 100%;
}

.first {
}

.textHolder {
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 70%;
  align-items: center;
}

.textHolder h3 {
  color: rgba(237, 230, 230, 0.85);
  font: 1.2vw Helvetica, Sans-Serif;
  letter-spacing: -1px;
  width: 100%;
  text-align: center;
}

.textHolder .first {
  color: white;
  font: bold 1.4vw Helvetica, Sans-Serif;
}

.ImageCard {
  position: relative;
  width: 17vw;
}
