.backgroundImage {
  position: relative;
  height: 100%;
  width: 100%;
}

.textHolder {
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 70%;
  align-items: center;
}

.textHolder h3 {
  color: rgb(242, 235, 235);
  font: 1.2vw Helvetica, Sans-Serif;
  letter-spacing: -1px;
  width: 100%;
  text-align: center;
}

.textHolder .first {
  color: white;
  font: bold 1.5vw Helvetica, Sans-Serif;
  margin: 14% 0 5%;
}

.ImageCard {
  position: relative;
  width: 17vw;
}
