.GroupCard {
  position: absolute;
  border-radius: 3px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;

  width: 100%;
}

.GroupCard__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1vh 0 2vh 0;
  width: 100%;
  /* border: 2px solid black; */
}

.GroupCard__group-name {
  font-size: 1.2vw;
  /* line-height: 90%; */
  padding: 0 0rem 0rem 1.2rem;
  margin-top: 0vh;
  margin-bottom: 6vh;
  max-width: 100%;
  max-height: 6vh;
  font-weight: var(--title-weight);
}

.GroupCard__details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.9rem;
}

.GroupCard__members {
  margin: 0.2rem;
  /* border: 2px solid black; */
}

.GroupCard__location {
  margin: 0.2rem;
  /* border: 2px solid black; */
}

/* Large devices */
@media only screen and (max-width: 992px) {
  .GroupCard__group-name {
    font-size: 1.4vw;
  }
  .GroupCard__details {
  font-size: 1rem;
  }
}

/* Medium devices */
@media only screen and (max-width: 768px) {
 .GroupCard__group-name {
    font-size: 1.8vw;
  }
}

/* Small devices */
@media only screen and (max-width: 576px) {
  .GroupCard__group-name {
      font-size: 2.4vw;
    }
}

/* Mobile */
@media only screen and (max-width: 375px) {
  .GroupCard__group-name {
    font-size: 4.1vw;
  }
}