.GroupCard {
    border-radius: 3px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
}

.GroupCard__details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.9rem;
}

.GroupCard__group-name {
    font-size: 1.5rem;
    line-height: 90%;
    padding: 2rem 0rem 1rem 1.2rem;
    font-weight: var(--title-weight);
}