.GroupCard {
    border-radius: 3px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
}

.GroupCard__text-container {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.GroupCard__group-name {
    font-size: 1.5rem;
    line-height: 90%;
    padding: 2.5rem 0rem 1rem 1.2rem;
    font-weight: var(--title-weight);
    margin-top: 0;
}

.GroupCard__details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.9rem;
}

.GroupCard__members {
    margin: 0.2rem;
}

.GroupCard__location {
    margin: 0.2rem;
}