.BannerImageCard {
    padding-top: 5rem;
    margin: 0;
    width: 100%;
    width: 100vw;
    min-height: 230px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    font-family: var(--default-font);
    font-size: 48px;
    color: #fafafa;
    line-height: 72px;
}

