.Card {
  position: relative;
  background-size: cover;
  background-repeat: none;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  font-family: var(--default-font);
}
.Card--purple {
  background-color: var(--purple);
}
.Card--pink {
  background-color: var(--pink);
}

.Card--large {
  width: 1rem;
  min-width: 500px;
  height: 260px;
}

.Card--medium {
  width: 1rem;
  min-width: 225px;
  height: 150px;
}

.Card--small {
  width: 1rem;
  min-width: 225px;
  height: 125px;
}

.Card img {
  width: 1rem;
  display: block;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Card__outline {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1rem;
  background: none;
  border: 3px dashed var(--purple);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.Card__discover-link {
  text-align: center;
  margin-left: 22%;
  margin-right: 22%;
  transition: transform 0.3s;
}

.Card__discover-link a {
  font-size: 24px;
  width: 55%;
  text-decoration: none;
}

.Card__discover-link a:hover {
  color: var(--yellow);
  transform: scale(1.1, 1.1);
}
