.Button {
  padding: 0.25em 2.7em;
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  font-family: var(--default-font);
  font-size: 24px;
  text-align: center;
  color: var(--black);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  white-space: nowrap;
}
.Button:hover {
  background-color: var(--white-hover);
}
.Button--large {
  padding: 0.13em 2.71em;
  font-size: 36px;
}
.Button--extra-small {
  padding: 0.30em 2.35em;
  font-size: 15px;
}
.Button--small {
  padding: 0.42em 3.35em;
  font-size: 18px;
}
.Button--pink {
  color: var(--white);
  background-color: var(--pink);
}
.Button--pink:hover {
  background-color: var(--pink-hover);
}
.Button--purple {
  color: var(--white);
  background-color: var(--purple);
}
.Button--purple:hover {
  background-color: var(--purple-hover);
}
.Button--red {
  color: var(--white);
  background-color: var(--red);
}
.Button--red:hover {
  background-color: var(--red-hover);
}
.Button--yellow {
  color: var(--white);
  background-color: var(--yellow);
}
.Button--yellow:hover {
  background-color: var(--yellow-hover);
}
.Button--outline {
  color: var(--pink);
  background-color: var(--white);
  border: 1px solid var(--pink);
}
.Button--black-text {
  color: var(--black);
}
.Button--like {
  width: 50%;
  font-family: var(--paragraph-font);
  font-weight: bold;
  min-width: 20rem;
  background-color: var(--gray-lite);
}
.Button--comment {
  width: 50%;
  font-family: var(--paragraph-font);
  font-weight: bold;
  min-width: 20rem;
  background-color: var(--gray-lite);
}
.Button--comment img,
.Button--like img {
  margin-right: 0.5rem;
}
