/* .LoginPage * {
    box-sizing: border-box;
}

.LoginPage html {
    display: block;
    margin: auto;
    background: var(--yellow-gradient);
    height: 100%;
    width: 100%;
}

.LoginPage main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.LoginPage {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.LogoLogin {
    height: 240px;
    width: 240px;
}

.InputTextField__container--default {
    margin: 15px;
    width: 320px;
    height: 50px;
}

.Button {
    width: 200px;
    height: 50px;
}

.ForgotPass {
    text-align: center;
    margin: 0;
    font-family: var(--default-font);
}