
.Groups {
  width: 70vw;
}
.Groups__list {
  display: flex;
  justify-content: space-between;
}

.Groups h1 {
  font-family: var(--default-font);
  color: var(--purple);
}

.Groups__list__link {
  color: var(--blue-lite);
  font-size: 1rem;
  font-family: var(--default-font);
  font-weight: normal;
  margin: auto 0;
}

@media only screen and (max-width: 1000px) {
  .Groups__list__link {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .Groups__card--1 {
    z-index: 0;
  }
  .Groups__card--2 {
    position: relative;
    left: -8em;
    z-index: 1;
  }
  .Groups__card--3 {
    position: relative;
    left: -15em;
    z-index: 2;
  }
}

@media only screen and (max-width: 372px) {
  .Groups__list {
    display: flex;
    flex-direction: column;
  }
  .Groups__card--1 {
    z-index: 0;
  }
  .Groups__card--2 {
    position: relative;
    top: -5rem;
    left: 0;
    z-index: 1;
  }
  .Groups__card--3 {
    position: relative;
    top: -10rem;
    left: 0;
    z-index: 2;
  }
}