.UpcomingEventsCard {
    border-radius: 3px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: .7rem;
    text-decoration: none;
}

.UpcomingEventsCard__name {
    font-size: 1.55rem;
}

.UpcomingEventsCard__date,
.UpcomingEventsCard__time,
.UpcomingEventsCard__location {
    font-family: var(--paragraph-font);
    font-size: .85rem;
}

.UpcomingEventsCard__location {
    line-height: 2.5;
}