.UpcomingEventsCard {
  border-radius: 3px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  /* padding: 0.7rem; */
  text-decoration: none;
  width: 90%;
  padding: 1vh 0vw 1vh 1vw;
  margin: 0 3vw 0 0vw;
  border: 2px solid black;
}

.UpcomingEventsCard__name {
  font-size: 1.55rem;
}

.UpcomingEventsCard__date,
.UpcomingEventsCard__time,
.UpcomingEventsCard__location {
  font-family: var(--paragraph-font);
  font-size: 0.85rem;
}

.UpcomingEventsCard__location {
  line-height: 2.5;
}
