.OnboardingCredentials {
  font-family: var(--default-font);
}
.OnboardingCredentials__form {
  display: flex;
  flex-direction: column;
}
.OnboardingCredentials__header {
  margin: 0;
}
.OnboardingCredentials__container {
  margin: 0.3rem 0;
}
.OnboardingCredentials__button-container {
  display: flex;
  justify-content: center;
  margin-left: 5rem;
  margin-top: 1rem;
}

@media all and (max-width: 320px) {
  .OnboardingCredentials__container {
    flex-direction: column;
    display: flex;
    margin: 0.5rem 0;
  }
  .OnboardingCredentials__header {
    font-size: 1.5rem;
  }
  .OnboardingCredentials .InputTextField__container--default {
    min-width: 11.5rem;
    max-width: 11.5rem;
    font-size: 1rem;
    height: 0.5rem;
    padding: 0.7rem 1.4rem;
  }
  .OnboardingCredentials__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .OnboardingCredentials .Button {
    width: 11.4rem;
    height: 2.46rem;
    font-size: 1.35rem;
  }
}
