.Comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  background-color: var(--gray-dark);
  font-size: 14px;
  font-family: var(--paragraph-font);
  padding: 1.2rem;
  border: 1px solid rgba(37, 37, 37, 0.5);
  border-radius: 3px;
  margin-left: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.5rem;
}

.Comment__name {
  margin: 0;
}

.Comment__column {
  margin: 0.7rem;
  height: 90%;
  margin-bottom: 0;
}

.Comment__profile {
  text-align: center;
}

.Comment__content {
  display: flex;
  flex-direction: column;
}

.Comment__body {
  margin: 0;
}

.Comment__timing--container {
  white-space: nowrap;
  text-align: right;
}

.Comment__timing {
  margin: 0;
}

.Comment__activities {
  display: flex;
}

.Comment__activity {
  text-align: left;
  margin-right: 0.8rem;
  margin-top: 0.5rem;
  display: flex;
}


@media only screen and (max-width: 768px) {
  .Comment {
    width: 30rem;
  }
}
@media only screen and (max-width: 320px) {
  .Comment {
    width: 10rem;
    flex-direction: column;
  }
}
