.Comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--gray-dark);
  font-size: 0.875em;
  font-family: var(--paragraph-font);
  padding: 0;
  border: 1px solid var(--black-lite);
  border-radius: 3px;
  margin: 0 auto;
}

.Comment__name {
  margin: 0;
}

.Comment__column {
  margin: 0;
  height: 90%;
}

.Comment__profile {
  display: flex;
  flex-direction: column;
  margin: 1em 0.5em 0.5em 1em;
  align-items: center;
}

.Comment__content {
  display: flex;
  flex-direction: column;
}

.Comment__body {
  margin: 1em 2em;
}

.Comment__timing--container {
  text-align: right;
  white-space: nowrap;
  margin: 0.313em 0.313em 0 0;
}

.ProfilePicture--small img{
  margin: 0.313em;
}

.Comment__timing {
  margin: 0;
}

.Comment__activities {
  display: flex;
  margin-left: 2em;
}

.Comment__likes{
  text-align: left;
  margin-right: 0.313em;
}


@media only screen and (max-width: 768px) {
  .Comment {
    margin-top: 2.3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Comment__timing--container{
    margin-bottom: 0;
    flex-direction: row;
    
  }
  .Comment__body{
    margin: 0em 0em 0.25em 0.25em;
  }
}
@media only screen and (max-width: 320px) {
  .Comment {
    width: 10em;
    flex-direction: column;
  }
}
