.Comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 98.75%;
  background-color: var(--gray-dark);
  font-size: 14px;
  font-family: var(--paragraph-font);
  padding: 8px;
  border: 1px solid rgba(37, 37, 37, 0.5);
  border-radius: 3px;
  margin: 0 auto;
  /* margin-top: 7px; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.Comment__name {
  margin: 0;
}

.Comment__column {
  margin: 0;
  height: 90%;
}

.Comment__profile {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  align-items: center;
}

.Comment__content {
  display: flex;
  flex-direction: column;
}

.Comment__body {
  /* margin-top: 15px;
  margin-bottom: 0; */
  margin: 0;
}

.Comment__timing--container {
  text-align: right;
  white-space: nowrap;
  /* margin-top: 15px;
  margin-right: 15px;
  margin-left: 2px; */
}

.ProfilePicture--small img{
  margin: 5px;
}

.Comment__timing {
  margin: 0;
}

.Comment__activities {
  display: flex;
  /* margin-bottom: 0;
  margin-left: 0;
  margin-top: 5px; */
}

.Comment__likes{
  text-align: left;
  margin-right: 5px;
  /* margin-right: 13px; */
  /* margin-top: 8px; */
  /* display: flex; */
}


/* @media only screen and (max-width: 768px) {
  .Comment {
    width: 320px;
  }
}
@media only screen and (max-width: 320px) {
  .Comment {
    width: 160px;
    flex-direction: column;
  }
} */
