.ActivityList__activity-list {
  box-sizing: border-box;
}

.ActivityList__activities-container {
  padding: 20px 0px;
}

.ActivityList__activity-header {
  font-family: var(--default-font);
  font-size: 36px;
  line-height: 54px;
  color: var(--purple);
}

.ActivityList__activity-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ActivityList__activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 135px;
  border-radius: 3px;
  margin: 40px 40px 20px 0px;
  padding: 10px;
}

.ActivityList__activities {
  font-family: var(--default-font);
  font-size: 24px;
  line-height: 36px;
  color: var(--white);
  text-align: center;
}

.ActivityList__mom {
  background-color: var(--purple);
}

.ActivityList__kids {
  background-color: var(--red);
}

@media all and (max-width: 1080px) and (min-width: 721px) {
  .ActivityList__activity-header {
    font-size: 27px;
    line-height: 40px;
  }
  .ActivityList__activity {
    width: 135px;
    height: 101px;
    margin: 30px 30px 15px 0px;
    padding: 7px;
  }
  .ActivityList__activities-container {
    padding: 15px 0px;
  }
  .ActivityList__activities {
    font-size: 18px;
    line-height: 27px;
  }
}

@media all and (max-width: 720px) {
  .ActivityList__activity-header {
    font-size: 18px;
    line-height: 27px;
  }
  .ActivityList__activity {
    width: 90px;
    height: 68px;
    margin: 20px 20px 10px 0px;
    padding: 5px;
  }
  .ActivityList__activities-container {
    padding: 10px 0px;
  }
  .ActivityList__activities {
    font-size: 12px;
    line-height: 18px;
  }
}
