.ExtraUsers {
  background: var(--purple);
  height: 67px;
  width: 67px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 100%;
}

.ExtraUsers__text {
  padding: 0 .5rem 0 0;
  text-decoration: none;
  color: var(--white);
  font-size: 2rem;
  font-weight: var(--paragraph-weight);
  font-family: var(--default-font);
  text-decoration: none;
}
