.ExtraUsers {
  background: var(--purple);
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.ExtraUsers__text {
  text-decoration: none;
  color: var(--white);
  font-size: 5rem;
  font-weight: var(--paragraph-weight);
  font-family: var(--default-font);
  text-decoration: none;
}
