.MediaCard {
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0px 5px 5px 0.5px rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column-reverse;
  transition: transform 0.5s;
}
.MediaCard:hover {
  transform: scale(1.02);
}

.MediaCard--small {
  height: 220px;
  width: 220px;
}

.MediaCard--medium {
  height: 248px;
  width: 248px;
}

.MediaCard--large {
  height: 300px;
  width: 300px;
}

.MediaCard__footer {
  background: var(--purple);
  opacity: 0.8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.MediaCard__footer-text {
  font-family: var(--paragraph-font);
  font-style: inherit;
  font-weight: 100;
  letter-spacing: 1px;
  color: var(--white);
  margin: 10px 10px 10px 10px;
}
