.OnboardingPills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50rem;
  margin-left: 50px;
}

@media only screen and (max-width: 800px) {
  .OnboardingPills {
    width: 25rem;
  }
}

@media only screen and (max-width: 400px) {
  .OnboardingPills {
    width: 20rem;
  }
}
