.banner-parent {
  width: 100vw;
  height: 200px;
}
.banner-home {
  background-image: var(--home-banner);
}
.banner-community {
  background-image: var(--community-banner);
}
.banner-profile {
  background-image: var(--profile-banner);
}
