.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100vw;

  background-color: var(--yellow);
  font-family: var(--default-font);
}

.Footer a,
.Footer a:active,
.Footer a:link,
.Footer a:visited {
  color: var(--black);
}

.Footer--left,
.Footer--right,
.Footer--center {
  display: flex;
  text-align: center;
  margin: 3vw;
}

.Footer--left {
  width: 20%;
  justify-content: space-evenly;
  text-decoration: underline;
}

.Footer--center a {
  text-decoration: none;
}

.Footer--right {
  justify-content: space-around;
  width: 20%;
}

@media only screen and (max-width: 1000px) {
  .Footer {
    min-height: 75px;
  }

  .Footer--right,
  .Footer--left {
    flex-direction: column;
    justify-content: right;
    line-height: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .Footer {
    flex-direction: column;
    justify-content: center;
    min-height: 150px;
  }

  .Footer--left {
    display: flex;
    flex-direction: column;
  }

  .Footer--center {
    margin: 0;
  }
}
