.PostBody {
  background: var(--white);
  width: 50rem;
  font-family: var(--paragraph-font);
  color: var(--black);
}

.PostBody__top {
  display: flex;
  justify-content: space-between;
}

.PostBody__top-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.PostBody__top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.PostBody__title {
  font-family: var(--default-font);
  font-size: 1.5rem;
}

.PostBody__hashtags {
  display: flex;
  width: 20rem;
  margin: 0.5rem;
}

.PostBody__hashtag-links {
  font-family: var(--paragraph-font);
  color: var(--black);
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 0;
}

.PostBody__date {
  margin-bottom: 0.3rem;
}

.PostBody__text {
  line-height: 125.3%;
}

@media only screen and (max-width: 800px) {
  .PostBody {
    width: 17rem;
  }
  .PostBody__top-right {
    flex-direction: row;
  }
  .PostBody__date {
    margin-bottom: 0;
    margin-right: 0.3rem;
  }
  .PostBody__top {
    flex-direction: column;
  }
  .PostBody__text,
  .PostBody__top-right,
  .PostBody__hashtags {
    font-size: 0.8rem;
  }
}
