.PostBody {
  background: var(--white);
  width: 50rem;
  font-family: var(--paragraph-font);
  color: var(--black);
}

.PostBody--top {
  display: flex;
  justify-content: space-between;
}

.PostBody--top-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.PostBody--top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.PostBody--title {
  font-family: var(--default-font);
  font-size: 1.5rem;
}

.PostBody--hashtags {
  display: flex;
  width: 20rem;
  margin: 0.5rem;
}

.PostBody--hashtag-links {
  font-family: var(--paragraph-font);
  color: var(--black);
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 0;
}

.PostBody--date {
  margin-bottom: 0.3rem;
}

.PostBody--text {
  line-height: 125.3%;
}
