.CommunityPage-Group- {
  display: flex;
  flex-direction: column;
}

.CommunityPage-Group-__banner {
  width: 100vw;
  height: 231px;
  background-color: var(--pink);
}
.CommunityPage-Group-_container {
  width: 100vw;
  display: flex;
}

.Modal_align {
  margin-top: -20px;
}

.community-page-header {
  margin-top: 25px;
  margin-bottom: -10px;
}

.seemore-events {
  width: 130%;
  text-align: center;
  font-family: var(--default-font);
  font-weight: normal;
  text-decoration: underline;
  margin-top: 10px;
  color: blue;
}

.CommunityPage-Group-_body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.CommunityPage-Group-__header {
  font-family: var(--default-font);
  font-size: 36px;
  color: var(--purple);
  padding: 20px 20px 0px 50px;
  margin: 20px auto;
}

.Pill {
  margin: 10px 50px 30px 0px;
}

@media only screen and (max-width: 320px) {
  .CommunityPage-Group-__header {
    text-align: center;
    font-size: 36px;
  }

  .CommunityPage-Group- {
    width: 100vw;
  }
}

.secondNav {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.secondNav-Button {
  background-color: black;
  width: 100vw;
}

.CommunityPage-Group-__group-location-container {
  display: flex;
  flex-direction: row;
  width: 101.5vw;
  flex-wrap: wrap;
  margin-left: 50px;
}

.CommunityPage-Group-_SortByText {
  font-family: Reem Kufi;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  margin-left: 15px;
  margin-top: 3px;
  align-items: center;
  color: #252525;
  border-radius: 3px;
}

.Modal__message-box {
  width: 100%;
  height: 80%;
  margin-bottom: -250px;
}

.CommunityPage-Group-_SortByButton {
  background: #fafafa;
  border: 2px solid #e5e5e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 356px;
  height: 48px;
  margin-left: 50px;
  margin-top: 50px;
}

.seeAll-Button {
  font-family: Reem Kufi;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #3988ff;
  text-align: center;
  text-decoration-line: underline;
  margin-bottom: 50px;
}

.seeMore-Button {
  font-family: Reem Kufi;
  font-style: normal;
  font-weight: normal;
  color: #3988ff;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 50px;
  margin-bottom: 50px;
}

.CommunityPage-Group-__groups-in-city-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap;
  margin-left: 50px;
}

.CommunityPage-Group-__groupCard-single {
  margin-right: 50px;
  margin-bottom: 50px;
}

.CommunityPage {
  overflow: hidden;
}

.CommunityPage__header {
  font-family: var(--default-font);
  font-size: 36px;
  color: var(--purple);
  padding: 20px 50px 0px 0px;
  margin: 0 auto;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 20px;
}

.CommunityPage__button-container {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.Pill {
  margin: 10px 50px 30px 0px;
}

.UpcomingEventsCard__name {
  font-size: 10px;
}

.upcoming-events {
  display: flex;
  flex-direction: row;
  /* width: 1000px; */
}

.community-page-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
  padding-top: 50px;
}

.community-page-pill-container {
  display: flex;
  flex-direction: row;
  width: 95vw;
  flex-wrap: wrap;
}

.community-page-hollow-pill-container {
  display: flex;
  flex-direction: row;
  width: 95vw;
  flex-wrap: wrap;
}

.secondNav {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.community-group-body {
  display: flex;
  flex-flow: row;
}

.community_mediaContainer {
  margin-top: 70px;
  margin-left: -100px;
  margin-right: 120px;
}

.community-group-members_description_p {
  width: 450px;
}
.community_mediaCard {
  margin-bottom: 15px;
}

.community_media {
  margin-top: 0px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 30px;
}

.community-group-bodyRight {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-top: -20px;
}

.community-group-bodyLeft {
  margin: 0px;
  width: 78vw;
  margin: -50px -100px;
}

.PostContainer {
  border: 1px solid black;
}

.community_medieContainer {
  margin-top: 70px;
  margin-left: -100px;
  margin-right: 120px;
}

.ForumPost__topic-pills {
  height: 70px;
  margin-top: -10px;
  margin-left: 10px;
}

.Connections__person__div {
  margin-top: -25px;
  color: blue;
}

.community_mediaCard {
  margin-bottom: 95px;
  margin-left: 70px;
  margin-right: -70px;
  margin-top: -70px;
}

.community_media {
  margin-top: 0px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 30px;
}

.community__body_topic {
  display: flex;
  flex-flow: row;
}

.community-group-bodyRight_topic {
  display: flex;
  flex-direction: row;
  height: 750px;
  flex-wrap: wrap;
  width: 30vw;
}

.community__bodyLeft_topic {
  margin: 0px;
  width: 70vw;
  margin: -50px -100px;
}

.community__title_topic {
  margin-top: 180px;
  margin-bottom: 40px;
  height: 20px;
}

.community_medieContainer_topic {
  margin-top: 0px;
  margin-left: -65px;
  margin-right: 100px;
}

.community_mediaCard_topic {
  margin-bottom: 15px;
}

.community_media_topic {
  margin-top: 250px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.community__members_section {
  margin-top: 0px;
  margin-bottom: 20px;
  height: 20px;
}

.community__members_topic {
  display: flex;
  flex-direction: row;
  width: 600px;
  flex-wrap: nowrap;
}

.Connections__link {
  font-size: 1rem;
  font-family: var(--default-font);
  font-weight: normal;
  margin-left: -60px;
}

.Connections__heading {
  display: none;
}

.community__members_description_p {
  font-family: Reem Kufi;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.Banner_topic {
  line-height: 0px;
}

@media only screen and (max-width: 320px) {
  .CommunityPage__header {
    text-align: center;
    font-size: 36px;
  }

  .CommunityPage {
    width: 100vw;
  }
}
