.SignUpAd {
  background-color: var(--yellow);
  text-align: center;
  font-family: var(--default-font);
  letter-spacing: 0.1rem;
  padding: 10px;
}

.SignUpAd__inputs {
  display: flex;
  justify-content: space-between;
  padding: 0 14rem;
  margin: 2rem 0;
}

.SignUpAd__heading,
.SignUpAd__subheading {
  margin: 10px 0;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  .SignUpAd__inputs {
    margin: 0;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 768px) {
  .SignUpAd {
    justify-content: center;
  }

  .SignUpAd__inputs {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .SignUpAd {
    justify-content: center;
  }

  .SignUpAd__inputs {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
  }
}
