@import url('https://fonts.googleapis.com/css?family=Reem+Kufi&display=swap');

.ButtonSubmit {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Reem Kufi', sans-serif;
}

.ButtonSubmit-followed,
.ButtonSubmit-favorited {
  background: #FB836F;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: #FAFAFA;
  font-size: 18px;
}

.ButtonSubmit-next,
.ButtonSubmit-finish {
  width: 302px;
  height: 65px;
  background: #FAFAFA;
  border-radius: 3px;
  font-size: 36px;
}

.ButtonSubmit-register {
  width: 302px;
  height: 65px;
  background: #6A4C93;
  border-radius: 5px;
  color: #FAFAFA;
  font-size: 36px;
}

.ButtonSubmit-login {
  width: 302px;
  height: 65px;
  background: #FAFAFA;
  border-radius: 5px;
  font-size: 36px;
  color: black;

}

.ButtonSubmit-joinTribe {
  background: #FB836F;
  border-radius: 3px;
  height: 44px;
  width: 175px;
  font-size: 18px;
  color: #FAFAFA;
}

.ButtonSubmit-connect {
  background: #FB836F;
  border-radius: 5px;
  height: 44px;
  width: 141px;
  font-size: 18px;
  color: #FAFAFA;
}

.ButtonSubmit-message {
  background: #FAFAFA;
  border: 1px solid #FB836F;
  box-sizing: border-box;
  border-radius: 5px;
  color: #FB836F;
  font-size: 18px;
  height: 44px;
  width: 141px;
}

.ButtonSubmit-join {
  background: #FFCB08;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-size: 24px;
}

.ButtonSubmit-book {
  width: 579px;
  height: 65px;
  background: #FB836F;
  border-radius: 5px;
  color: #FAFAFA;
  font-size: 36px;
}

.ButtonSubmit-follow {
  width: 200px;
  height: 50px;
  background: #FFCB08;
  border-radius: 4px;
  font-size: 24px;
}

.ButtonSubmit-post {
  background: #FB836F;
  border-radius: 3px;
  width: 312px;
  height: 97px;
  font-size: 36px;
  color: #FAFAFA;
}
