.slider__cards {
    display: flex;
}

/* SETS THE SIZE OF THE CARDS */

.slider {
    display: flex;
}

/* FOCUS AREA OF CARDS BEING DISPLAYED */

.arrow {
    background-color: var(--yellow-dark);
    padding-left: 1vw;
    width: 30px;
    height: 50px;
    cursor: pointer;
    margin-top: 13%;
    margin-right: 1%;
}

.arrow__prev {
    clip-path: polygon(30% 50%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%);
}

.arrow__next {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 70% 50%);
}