.pillContainer {
  background-color: red;
  height: 1.31em;
  width: 8.81em;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  font-family: non-serif;
  bottom: 0%;
  font-size: 14px;
  font-family: sans-serif;
  background: #fb836f;
  font-weight: 350;
  text-align: center;
  color: white;
  border-radius: 3px;
}
