.Pill {
  border-radius: 3px;
  padding: 0.5em 2em;
  font-family: var(--default-font);
  cursor: pointer;
  font-size: 2em;
  transition: all 0.5s ease;
  text-align: center;
  white-space: nowrap;
  font-size: calc(10px + 2vmin);
  position: relative;
  color: var(--black);
  background-color: #fafafa;
}

.PillShadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.PillIcon {
  position: absolute;
  top: 27%;
  right: 1%;
}

.PillIconOffset {
  top: 5%;
}

.PillLarge {
  padding: 0.13em 2.71em;
  font-size: 36px;
}

.PillSmall {
  padding: 0.42em 3.35em;
  font-size: 18px;
}

.PillMedium {
  padding: 0.42em 3.35em;
  font-size: 24px;
}

.PillPink {
  color: var(--white);
  background-color: var(--pink);
}
.PillWhite {
  color: var(--black);
  background-color: var(--white);
}

.PillPurple {
  color: var(--white);
  background-color: var(--purple);
}

.PillRed {
  color: var(--white);
  background-color: var(--red);
}

.PillYellow {
  color: var(--white);
  background-color: var(--yellow);
}

.PillBorderPink {
  color: var(--pink);
  background-color: var(--white);
  border: 4px solid var(--pink);
}

.PillBorderPurple {
  color: var(--purple);
  background-color: var(--white);
  border: 4px solid var(--purple);
}

.PillBorderRed {
  color: var(--red);
  background-color: var(--white);
  border: 4px solid var(--purple);
}

.PillBorderYellow {
  color: var(--yellow);
  background-color: var(--white);
  border: 4px solid var(--yellow);
}

.PillModal {
  color: var(--black);
  background-color: var(--yellow);
}

.Pill--shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Pill--icon {
  position: absolute;
  top: 27%;
  right: 1%;
}

.Pill--icon-offset {
  top: 5%;
}

.Pill--large {
  padding: 0.13em 2.71em;
  font-size: 36px;
}

.Pill--small {
  padding: 0.42em 3.35em;
  font-size: 18px;
}

.Pill--medium {
  padding: 0.42em 3.35em;
  font-size: 24px;
}

.Pill__pink {
  color: var(--white);
  background-color: var(--pink);
}

.Pill__white {
  color: var(--black);
  background-color: var(--white);
}

.Pill__purple {
  color: var(--white);
  background-color: var(--purple);
}

.Pill__red {
  color: var(--white);
  background-color: var(--red);
}

.Pill__yellow {
  color: var(--white);
  background-color: var(--yellow);
}

.Pill--border__pink {
  color: var(--pink);
  background-color: var(--white);
  border: 4px solid var(--pink);
}

.Pill--border__purple {
  color: var(--purple);
  background-color: var(--white);
  border: 4px solid var(--purple);
}

.Pill--border__red {
  color: var(--red);
  background-color: var(--white);
  border: 4px solid var(--purple);
}

.Pill--border_yellow {
  color: var(--yellow);
  background-color: var(--white);
  border: 4px solid var(--yellow);
}

.Pill--modal {
  color: var(--black);
  background-color: var(--yellow);
}

.Pill--onboarding {
  width: 9.75rem;
  height: 2.45rem;
  font-size: 1.25rem;
  margin: 0.5rem;
  padding: 0;
  box-shadow: none;
  line-height: 2;
  user-select: none;
}
