.SliderContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: var(--default-font);
  width: 90%;
  margin: 0 auto;
}
.SliderContainer__left {
  display: flex;
  flex-direction: column;
}
.SliderContainer__carousel-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.SliderContainer__image {
  width: 50rem;
  height: 37rem;
}
.SliderContainer__right {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 2fr 1fr 1fr;
  justify-items: start;
  align-items: start;
}
.SliderContainer__overview-title {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  color: var(--purple);
  font-size: 2.25rem;
  margin: 0 3rem;
}
.SliderContainer__dates-title {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  color: var(--purple);
  font-size: 2.25rem;
  margin: 0 3rem;
}
.SliderContainer__location-title {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  color: var(--purple);
  font-size: 2.25rem;
  margin: 0 3rem;
}
.SliderContainer__overview-text {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  font-size: 1.125rem;
  margin-top: 0.2rem;
}
.SliderContainer__dates-container {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  margin-top: 0.5rem;
}
.SliderContainer__dates-text {
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 0;
}
.SliderContainer__location-text {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  font-size: 1.125rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .SliderContainer {
    flex-direction: column;
  }
}
