.SplashPage {
  background: var(--splash-background) no-repeat fixed;
  background-size: cover;
  font-family: var(--default-font);
  color: var(--black);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.SplashPage h1 {
  margin: 1em 0 0 0;
}
.SplashPage p, .SplashPage__button-margin--small, .SplashPage__button-margin {
  margin: 1em;
}
.SplashPage__button-margin--small a button {
  min-width: 208.55px;
}