.SplashPage {
  width: 100vw;
  height: 100vh;
  background: var(--splash-background) no-repeat center center fixed;
  font-family: var(--default-font);
  color: var(--black);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.SplashPage h1 {
  margin: 0;
}
.SplashPage p {
  /* margin: 0; */
}