.NavLink-Link {
  text-decoration: none;
}
.NavLink {
  height: 100px;
  background-color: var(--yellow);
  color: var(--black);
  font-family: var(--default-font);
  padding: 24px 100px 24px 24px;
  position: relative;
}
.NavLink:hover {
  filter: brightness(90%);
}
.NavLink h1 {
  margin: 38px 0 0 0;
  text-transform: uppercase;
}
.dropdown-hide {
  position: absolute;
  top: 100%;
  left: 24px;
  width: calc(100% - 24px);
  opacity: 0;
  pointer-events: none;
}
.dropdown-show {
  position: absolute;
  top: 100%;
  left: 24px;
  width: calc(100% - 24px);
  opacity: 1;
  pointer-events: auto;
}
