/* .ProfilePicture {
} */
.profile-pic-extra-small .profile-picture-img {
  height: 67px;
  width: 67px;
}
.profile-pic-small .profile-picture-img {
  height: 90px;
  width: 90px;
}
.profile-pic-medium .profile-picture-img {
  height: 150px;
  width: 150px;
}
.profile-pic-large .profile-picture-img {
  height: 233px;
  width: 233px;
}
