.InputTextField__container--default {
  display: flex;
  color: var(--black);
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 3px;
  padding: 1vh 10vw 1vh 1vw;
  margin: 0 0 2vh 0;
  width: 100%;
  max-width: 30vw;

  font-size: calc(16px + 2 * ((100vw - 320px) / 680));
  font-family: var(--default-font);
  /* border: 2px solid black; */
}

@media screen and (max-width: 420px) {
  .InputTextField__container--default {
    max-width: 70vw;
  }
  .InputTextField__container--search {
    max-width: 70vw;
  }
}

.InputTextField__container--default::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  padding-left: 1rem;
}

.InputTextField__container--small {
  color: black;
  background-color: var(--white);
  border: 2px solid white;
  border-radius: 3px;
  padding: 1rem 1.5rem;
  width: 100%;
  max-width: 220px;
  font-size: 18px;
  font-family: var(--default-font);
  margin: 1rem 0 1rem 0;
}

.InputTextField__container--search {
  display: flex;
  color: var(--black);
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 3px;
  padding: .5rem 4rem .5rem 4rem;
  font-size: 30px;
  width: 450px;
  font-family: var(--default-font);
  background-image: url("../../assets/images/global-nav_search_icon.png");
  background-repeat: no-repeat;
  background-position: 15px 10px;
  -webkit-box-shadow: 0px 8px 5px -5px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 8px 5px -5px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 8px 5px -5px rgba(0, 0, 0, 0.53);
  margin: 1rem 0 1rem 0;
}

.InputTextField__container--post {
  width: 100vw;
  height: 103px;
  left: 1px;
  background: #FAFAFA;
  border: 5px solid #C4C4C4;
  /* box-sizing: border-box; */
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  color: rgba(0, 0, 0, 0.36);
  margin-top: -40px;
  margin-bottom: 50px;
  padding-left: 10px;
}

.InputTextField__container--search::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  padding-left: 0rem;
}
