.InboxMessage__message-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem;
  width: 26.19rem;
  height: calc(71px+2rem);
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

.InboxMessage__conversation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  padding: 1 0;
  align-items: stretch;
}

.InboxMessage__name {
  font-weight: 900;
}

.InboxMessage__message {
  font-weight: 100;
  height: 30px;
}
