.InboxMessage__message-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem;
  width: 26.19rem;
  height: calc(71px+2rem);
  border: 1px solid var(--black);
  font-family: var(--paragraph-font);
}

.InboxMessage__profilePics {
  display: flex;
  position: relative;
}
.InboxMessage__child:nth-child(1) {
  z-index: 0;
}
.InboxMessage__child:nth-child(2) {
  position: absolute;
  left: 2.5rem;
  z-index: -1;
}
.InboxMessage__child:nth-child(3) {
  position: absolute;
  left: 5rem;
  z-index: -2;
}

.InboxMessage__conversation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  padding: 1 0;
  align-items: stretch;
}

.InboxMessage__name {
  font-weight: var(--banner-weight);
}

.InboxMessage__message {
  height: 46px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
