.PostContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.Comment {
  margin-top: 7px;
  background: #c4c4c4;
  border: 1px solid rgba(37, 37, 37, 0.5);
  box-sizing: border-box;
  border-radius: 3px;
}
