.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  margin: 0 auto;
  width: 100%;
  width: 100vw;
  min-height: 230px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: var(--default-font);
  font-size: 48px;
  color: #fafafa;
  line-height: 72px;
  margin-bottom: 5vh;
}
.Banner--large{
  height: 488px;
  background-position: center;
  background-size: cover;
  width: 100vw;
  color: #fafafa;
  font-size: 100px;
  font-family: var(--default-font);
  position: relative;
 
}
.Banner--large > * {
  position: absolute;
  vertical-align: text-bottom;
  margin: 0;
  bottom: 0;
  right: 20px;
}


@media only screen and (max-width: 576px) {
  .Banner--large > * {
      margin: 0 auto;
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .Banner--large > * { 
      margin-top: 2rem;
      font-size: 3rem;
  }
}