
.PillSelect {
  border-radius: 3px;
  padding: 0.5em 2em;
  font-family: "Reem Kufi";
  cursor: pointer;
  font-size: 2em;
  transition: all 0.5s ease;
  text-align: center;
  white-space: nowrap;
}


.pillStorybook{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Reem Kufi";
  flex-wrap: wrap;
}


.pill-padding {
  margin: 25px;
}
