.PreviousTripCard__container h1 {
  color: var(--white);
  padding-left: 5%;
  padding-top: 2vh;
  /* border: 2px solid black; */
  margin: 0;
}
.PreviousTripCard__trips {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 27vw;
  height: 100%;
  margin-left: 0.5vw;
  /* border: 2px solid black; */
  padding: 2vh 0 4vh 0;
}

.PreviousTripCard__arrow {
  position: absolute;
  right: 0%;
  top: 53%;
  background-color: var(--yellow-dark);
  width: 25px;
  height: 50px;
  clip-path: polygon(0 0, 80% 50%, 0 100%, 0 80%, 45% 50%, 0 20%);
  -webkit-box-shadow: 6px 7px 5px -2px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 6px 7px 5px -2px rgba(0, 0, 0, 0.64);
  box-shadow: 6px 7px 5px -2px rgba(0, 0, 0, 0.64);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  z-index: 2;
}
.PreviousTripCard__arrow:hover {
  transform: scale(1.1);
  background-color: var(--yellow);
}
.PreviousTripCard__trips a {
  color: var(--white);
}

.PreviousTripCard__no-trips {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black;  */
}

.PreviousTripCard__no-trips h2 {
  margin: 1vh 0 0 0;
  text-align: center;
  padding: 4vh 0 2vh 0;
  font-size: 1.5vw;
  width: 100%;
  color: var(--white);
  /* border: 2px solid black; */
}
.PreviousTripCard__no-trips a {
  font-size: 1.1vw;
  margin: 0 10vw 2vh 11vw;
  padding-bottom: 6vh;
  color: var(--white);
  display: inline-block;
  transition: all 0.1s ease-in-out;

  /* border: 2px solid black; */
}
.PreviousTripCard__no-trips a:hover {
  transform: scale(1.1);
  color: var(--yellow);
}

@media only screen and (max-width: 576px) {
  .PreviousTripCard__trip-two {
    display: none;
  }
  .PreviousTripCard__trips {
    width: 0rem;
    height: 0rem;
    margin-left: 1rem;
    margin-top: -1rem;
  }

  .PreviousTripCard__container h1 {
    color: var(--white);
    width: 80%;
    padding-left: 1rem;
    transform: scale(1);
    text-align: center;
  }

  .PreviousTripCard__arrow {
    width: 32px;
    top: 1rem;
    left: 13.5rem;
    transform: scale(0.9);
  }
}
