.PreviousTripsCard__container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--default-font);
}
.PreviousTripCard__container h1 {
  color: var(--white);
  width: 50%;
  padding-left: 5%;
  border: 2px solid black;
}
.PreviousTripCard__trips {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin-left: 2%;
  margin-bottom: 5%;
  border: 2px solid black;
}

.PreviousTripCard__trips div {
  position: relative;
  width: 49.5%;
  height: 100%;
  background-color: red;
}

.PreviousTripCard__arrow {
  position: absolute;
  right: -1%;
  top: 53%;
  background-color: #ffcb06;
  width: 35px;
  height: 50px;
  clip-path: polygon(0 0, 80% 50%, 0 100%, 0 80%, 45% 50%, 0 20%);
  -webkit-box-shadow: 6px 7px 5px -2px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 6px 7px 5px -2px rgba(0, 0, 0, 0.64);
  box-shadow: 6px 7px 5px -2px rgba(0, 0, 0, 0.64);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  z-index: 2;
}
.PreviousTripCard__arrow:hover {
  transform: scale(1.1);
}

.PreviousTripCard__no-trips {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 30%;
  text-align: center;
  margin-left: 8%;
}

.PreviousTripCard__no-trips h2 {
  /* position: absolute; */
  margin: 3% 20% 0px 24%;
  /* border: 2px solid black; */
  font-size: 22px;
  color: var(--white);
  display: inline-block;
}
.PreviousTripCard__no-trips a {
  font-size: 18px;
  /* position: absolute; */
  top: 150px;
  margin: 0px 27% 0px 32%;
  /* border: 2px solid black; */
  color: var(--white);
  display: inline-block;
}
.PreviousTripCard__no-trips a:hover {
  color: var(--yellow);
}
