.Card div {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.Card h3 {
  text-align: center;
  margin: .7em auto;
}

.Card a:visited {
  color: var(--white)
}

.Card h1 {
  text-align: left;
  padding-left: .7rem;
  margin-top: 0;
  margin-bottom: .5rem;
}

.Card .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Card {
  color: var(--white);
}

@media only screen and (max-width:576px) {
  .Card span {
    display: none;
  }
}
