.BookTripCard__content-wrapper {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.2rem 1rem 1.2rem;
  /* border: 2px solid black; */
}

.BookTripCard__title-wrapper h1 {
  padding-left: 0.7rem;
  text-align: left;
  color: var(--white);
  font-size: 2vw;
  border: 2px solid black;
}

.BookTripCard__trip-link {
  margin: 0rem 0 0.5rem 0;
  transition: transform 0.5s;
  text-align: center;
  /* border: 2px solid black; */
}

.BookTripCard__trip-link a {
  color: var(--white);
}

.BookTripCard__trip-link a:hover {
  color: var(--yellow);
}

.BookTripCard__trip-link:hover {
  color: var(--yellow);
}

@media only screen and (max-width: 576px) {
  .Card span {
    display: none;
  }
}
