.CarouselDots {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  transition: all 0.5s ease;
}


.CarouselDot {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px;
  text-indent: -999px;
  cursor: pointer;
  background-color: var(--white);
  border-radius: 20px;
}


.CarouselDot__border {
  border: 2px solid var(--purple);
}

.CarouselDot--active {
  background-color: var(--purple)
}
