.LoginPage {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: var(--yellow-gradient);
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginPage__form-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  border: 2px solid black;
}

.LoginPage__form {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 55%;
  height: 100%;
  box-sizing: border-box;
}

.LoginPage__submit {
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  font-family: var(--default-font);
  text-align: center;
  color: var(--black);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  white-space: nowrap;
  padding: 0.42em 3.35em;
  font-size: 18px;
}

.LoginPage__submit:hover {
  background-color: var(--white-hover);
}

@media screen and (max-width: 420px) {
  .LoginPage__form-container {
    width: 95vw;
  }
}
