
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    height: 50px;
    background-color: var(--yellow);
    font-family: var(--default-font);
}
