.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    height: 128px;
    background-color: var(--yellow);
    font-family: var(--default-font);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: auto;
}

.Navbar__logo {
  margin: 0 0 0 47px;
}

.Navbar__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 80px;
  margin: 47px 0 0 0;
  width: 100%;
}

.Navbar__menu {
  margin-top: 12px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding: 0 20px 0 0;
}

.Navbar__right {
  margin: -5px 26px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17%;
}

.Navbar__burger {
  margin: 0 20px;
  display: none;
}

.Navbar__condensed-menu {
  display: none;
  box-shadow: 0 4px 10px -5px var(--gray);
  position: absolute;
  right: 0;
  background-color: var(--white);
  margin-top: 35px;
  padding: 20px 0 0 20px;
  width: 250px;
  z-index: -1;
}

.Navbar__triangle {
  display: none;
  width: 0;
  height: 0;
  border-left: 31px solid transparent;
  border-right: 31px solid transparent;
  border-bottom: 21px solid var(--purple);
  margin: -17px auto;
}

.Navbar__link-item {
  margin: 0 15px;
}

.Navbar__show {
  display: block;
}

/* Touch screen devices */
@media (hover: none) and (pointer: coarse) {
  
}

/* Extra Large devices */
@media only screen and (max-width: 1200px) {

}

/* Large devices */
@media only screen and (max-width: 992px) {
  .Navbar__main {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .Navbar__burger {
    display: block;
  }

  .Navbar__logo {
    margin: 0 0 0 47%;
  }
}

/* Medium devices */
@media only screen and (max-width: 768px) {
  
}

/* Small devices */
@media only screen and (max-width: 576px) {
  .Navbar__logo {
    margin: 0 0 0 40%;
  }
  .Navbar {
    height: 75px;
  }
  .Navbar__condensed-menu {
    margin-top: 10px;
  }
}