.IndividualMomBox {
width: 229px;
height: 289px;
border: 1px solid #F2BC0F;
background: #FAFAFA;
}

.momName {
font-family: 'Reem Kufi', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 100%;
/* or 36px */
text-align: center;
}