.burger-container {
  height: 50px;
  width: 60px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border: black 2px solid;
}

.div-line {
  background-color: yellow;
  border: purple solid 2px;
  width: 50px;
  height: 5px;
}
