.Burger__line {
    height: 8px;
    width: 50px;
    background-color: var(--black);
    margin: 8px 0;
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
}

.Burger--active .Burger__line:nth-child(1) {
    transform: translate(0, 16px) rotate(45deg);
    -webkit-transform: translate(0, 16px) rotate(45deg);
    -moz-transform: translate(0, 16px) rotate(45deg);
    -ms-transform: translate(0, 16px) rotate(45deg);
    -o-transform: translate(0, 16px) rotate(45deg);
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
}

.Burger--active .Burger__line:nth-child(2) {
    background-color: rgba(0,0,0,0)
}

.Burger--active .Burger__line:nth-child(3) {
    transform: translate(0, -16px) rotate(-45deg);
    -webkit-transform: translate(0, -16px) rotate(-45deg);
    -moz-transform: translate(0, -16px) rotate(-45deg);
    -ms-transform: translate(0, -16px) rotate(-45deg);
    -o-transform: translate(0, -16px) rotate(-45deg);
    transition:  .1s ease-in-out;
    -webkit-transition:  .1s ease-in-out;
    -moz-transition:  .1s ease-in-out;
    -ms-transition:  .1s ease-in-out;
    -o-transition:  .1s ease-in-out;
}