.InteractionCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20% 12%;
  background-color: var(--white);
  text-align: center;
}



.InteractionCard a {
  text-align: center;
  padding: 5%, 5%;
}

.InteractionCard button {
  margin: 3% 15%;

}

.InteractionCard .Button--small {
  padding: 3%;
}
