.TrendingHashtagCard__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: var(--default-font);
  /* border: 2px solid black; */
}
.TrendingHashtagCard__container h1 {
  color: var(--white);
  padding-left: 1.2rem;
  font-size: 1.7vw;
  /* border: 2px solid black; */
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.5vh;
}
.TrendingHashtagCard__container h2 {
  padding-left: 35%;
  color: var(--white);
}
.TrendingHashtagCard__hashtags-container {
  position: relative;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 20%;
  padding-bottom: 3vh;
  /* border: 2px solid black; */
}
.TrendingHashtagCard__hashtag {
  display: inline-block;
  height: 30px;
  width: 100px;
  color: var(--white);
  font-size: 20px;
  bottom: 20%;
  padding: 2px 0px 2px 0px;

  margin: 0.2vh 0 0.2vh 0;
}
.TrendingHashtagCard__hashtag a {
  color: var(--white);
}
.TrendingHashtagCard__hashtag a:hover {
  color: var(--yellow);
}
